<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <title>The CPAN Search Site - search.cpan.org</title>

  <link rel="stylesheet" href="http://st.pimg.net/tucs/style.css?3" />
</head>
<body id="cpansearch" onload="document.f.query.focus();" <% IF front %>class="front"<% END %>>

<div class="header">
<center><div class="logo"><a href="/"><img src="http://st.pimg.net/tucs/img/cpan_banner.png" alt="CPAN"></a></div></center>
<div class="menubar">
  <a href="/">Home</a>
&middot; <a href="/author/">Authors</a>
&middot; <a href="/recent">Recent</a>
&middot; <a href="http://log.perl.org/">News</a>
&middot; <a href="/mirror">Mirrors</a>
&middot; <a href="/faq.html">FAQ</a>
&middot; <a href="/feedback">Feedback</a>
</div>

<form method="get" action="/search" name="f" class="searchbox">
<input type="text" name="query" value="<% query %>" size="35">
<br>in <select name="mode">
 <option value="all"     <% IF mode == 'all'    %>selected<% END %> >All</option>
 <option value="module"  <% IF mode == 'module' %>selected<% END %> >Modules</option>
 <option value="dist"    <% IF mode == 'dist'   %>selected<% END %> >Distributions</option>
 <option value="author"  <% IF mode == 'author' %>selected<% END %> >Authors</option>
</select>&nbsp;<input type="submit" value="CPAN Search">
</form>
</div>


