<% INCLUDE 'incl/pod.tt' %>

<table class="manifest">
  <% FOR row IN manifest %>
     <tr><td><a href="/src/<% pauseid %>/<% dist_name_ver %>/<% row.file %>"><% row.file %></a>
           <% IF row.pod %>
              &nbsp;<small>[<a href="<% row.pod %>">pod</a>]</small>
           <% END %>
         </td>
         <td><% row.text %></td>
         <td></td>
     </tr>
  <% END %>
</table>
