<% USE page = Page(authors.size, page_size, current_page) %>

<% INCLUDE 'incl/top_pager.tt' %>

<% FOR a IN page.splice(authors) %>
   <div class="sr" style="padding-top: 10px;"><a href="/~<% a.pauseid FILTER lower %>/"><b><% a.name %><% IF a.asciiname %> (<% a.asciiname %>)<% END %></b></a></div><small><% a.pauseid FILTER upper %></small>
<% END %>

<% INCLUDE 'incl/bottom_pager.tt' %>
